<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>812303551234-nphrlubrbno2msdjaga0rp46bjk5nhg2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.812303551234-nphrlubrbno2msdjaga0rp46bjk5nhg2</string>
	<key>API_KEY</key>
	<string>AIzaSyDwGpjiSi9-12345678FhxKnohuOf123da</string>
	<key>GCM_SENDER_ID</key>
	<string>812303551234</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.RNBoilerplate</string>
	<key>PROJECT_ID</key>
	<string>example</string>
	<key>STORAGE_BUCKET</key>
	<string>example.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:812303551234:ios:bbcd12e8f8caa212bd81f9</string>
</dict>
</plist>