@charset "UTF-8";

@font-face {
  font-family: 'icon-app';
  src: url('fonts/icon-app.eot');
  src: url('fonts/icon-app.eot?#iefix') format('embedded-opentype'),
    url('fonts/icon-app.woff') format('woff'),
    url('fonts/icon-app.ttf') format('truetype'),
    url('fonts/icon-app.svg#icon-app') format('svg');
  font-weight: normal;
  font-style: normal;
}

[data-icon]:before {
  font-family: 'icon-app' !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^='icon-']:before,
[class*=' icon-']:before {
  font-family: 'icon-app' !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-ic-attach:before {
  content: '\62';
}
.icon-ic-camera:before {
  content: '\64';
}
.icon-ic-camera-fill:before {
  content: '\65';
}
.icon-ic-card:before {
  content: '\66';
}
.icon-ic-card-holder:before {
  content: '\67';
}
.icon-ic-caret-down:before {
  content: '\68';
}
.icon-ic-caret-left:before {
  content: '\69';
}
.icon-ic-caret-right:before {
  content: '\6a';
}
.icon-ic-caret-up:before {
  content: '\6b';
}
.icon-ic-change:before {
  content: '\6c';
}
.icon-ic-chat:before {
  content: '\6d';
}
.icon-ic-chat-fill:before {
  content: '\6e';
}
.icon-ic-check-deliver:before {
  content: '\6f';
}
.icon-ic-checked:before {
  content: '\70';
}
.icon-ic-close:before {
  content: '\71';
}
.icon-ic-close-without-circle:before {
  content: '\73';
}
.icon-ic-contact:before {
  content: '\74';
}
.icon-ic-curent-location:before {
  content: '\75';
}
.icon-ic-done:before {
  content: '\79';
}
.icon-ic-edit:before {
  content: '\7a';
}
.icon-ic-email:before {
  content: '\41';
}
.icon-ic-error:before {
  content: '\42';
}
.icon-ic-eye-fill:before {
  content: '\44';
}
.icon-ic-facebook-fill:before {
  content: '\45';
}
.icon-ic-fast:before {
  content: '\46';
}
.icon-ic-funnel:before {
  content: '\47';
}
.icon-ic-help-wheel:before {
  content: '\48';
}
.icon-ic-history-fill:before {
  content: '\49';
}
.icon-ic-homepage:before {
  content: '\4a';
}
.icon-ic-information:before {
  content: '\4b';
}
.icon-ic-map-fill:before {
  content: '\4c';
}
.icon-ic-menu:before {
  content: '\4d';
}
.icon-ic-money:before {
  content: '\4e';
}
.icon-ic-notification:before {
  content: '\4f';
}
.icon-ic-order-done:before {
  content: '\50';
}
.icon-ic-package-fill:before {
  content: '\51';
}
.icon-ic-package-fill-2:before {
  content: '\52';
}
.icon-ic-phone:before {
  content: '\53';
}
.icon-ic-pin-fill:before {
  content: '\54';
}
.icon-ic-plus:before {
  content: '\55';
}
.icon-ic-privacy-policy:before {
  content: '\56';
}
.icon-ic-question:before {
  content: '\57';
}
.icon-ic-re-order:before {
  content: '\58';
}
.icon-ic-saved:before {
  content: '\59';
}
.icon-ic-saved-1:before {
  content: '\5a';
}
.icon-ic-selfie:before {
  content: '\31';
}
.icon-ic-send:before {
  content: '\32';
}
.icon-ic-setting:before {
  content: '\33';
}
.icon-ic-setting-fill:before {
  content: '\34';
}
.icon-ic-share-fill:before {
  content: '\35';
}
.icon-ic-star:before {
  content: '\37';
}
.icon-ic-support-fill:before {
  content: '\38';
}
.icon-ic-term-condition:before {
  content: '\39';
}
.icon-ic-ticket-1:before {
  content: '\21';
}
.icon-ic-ticket-2:before {
  content: '\22';
}
.icon-ic-time:before {
  content: '\23';
}
.icon-ic-update:before {
  content: '\24';
}
.icon-ic-wallet:before {
  content: '\25';
}
.icon-ic-calendar:before {
  content: '\63';
}
.icon-ic-add-favourite-fill:before {
  content: '\61';
}
.icon-ic-close-fill:before {
  content: '\72';
}
.icon-ic-deliver-done:before {
  content: '\76';
}
.icon-ic-eye-close-fill:before {
  content: '\77';
}
.icon-ic-search:before {
  content: '\78';
}
.icon-ic-slash:before {
  content: '\43';
}
.icon-ic-message:before {
  content: '\30';
}
.icon-ic-map:before {
  content: '\36';
}
